.conf-page {
    height: 100%;
}

.content-conf {
    display: block;
    margin: 20px auto auto auto;
    width: fit-content;
    background-color: #337ab7;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    max-width: calc(100% - 10px);
    min-width: 40%;
}

.conf-header {
    text-align: center;
    color: white;
    margin-top: 10px;
    margin-bottom: 25px;
}

.conf-block {
    display: flex;
    background-color: #d9d2e9;
    color: black;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
}

.conf-cat-name-block {
    display: flex;
    justify-content: flex-start;
}

.conf-btn-block {
    display: flex;
    justify-content: flex-end;
}

.conf-btn {
    padding: 5px 5px;
    border: none;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}

.edit-conf-btn {
    margin-left: 10px;
    background: #337ab7;
    color: white;
}

.delete-conf-btn {
    margin-left: 10px;
    background: #b30a04;
    color: white;
}

.conf-bottom-btn-block {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.add-conf-btn {
    background: #a6da19;
    color: black;
    border-radius: 7px;
}

.save-conf-btn {
    background: #a6da19;
    color: black;
    border-radius: 7px;
}

.back-conf-btn {
    background: #d9d2e9;
    color: black;
    border-radius: 7px;
    margin-left: 15px;
}

.conf-name {
    font-weight: bold;
    margin-left: 5px;
    display: flex;
    cursor: pointer;
    height: 100%;
    width: 100%;
    text-decoration: underline;
    text-underline-offset: 2px;
}

.conf-name-attr {
    font-weight: bold;
    margin-left: 5px;
    display: flex;
    height: 100%;
    width: 100%;
}

.conf-move-arrow {
    padding: 0px 5px;
    margin-right: 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background-color: #337ab7;
    color: white;
}

.conf-no-data {
    color: white;
    font-weight: bold;
    margin: 30px 0px;
    text-align: center;
}

button:disabled,
button[disabled] {
    cursor: default;
}

.conf-edit-block {
    display: flex;
    flex-direction: row;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    max-width: 800px;
}

.conf-edit-name {
    font-size: large;
    display: flex;
    justify-content: flex-end;
    width: 25%;
    text-align: right;
}

.conf-edit-value {
    display: flex;
    justify-content: flex-start;
    width: 65%;
}

.str-value-input {
    margin-left: 20px;
    border: 0;
    padding: 2px 5px;
    width: 100%;
}

.str-value-description {
    margin-left: 20px;
    padding: 2px 5px;
    width: 100%;
}

.btn-conf-dropdown {
    padding: 5px 0px;
    border: none;
    font-size: 14px;
    border-radius: 3px;
    margin-left: 20px;
    width: 100%;
    background-color: #d9d2e9;
    color: black;
}