
  
  .bloc-tabs {
    display: flex;
  }
  .bloc-table-tabs {
    background-color: #d9d2e9;
    display: flex;
    min-height: 56px;
    
  } 
  .tabs {
  
    padding: 15px;
    text-align: center;
    background: #337ab7;
    color: white;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    box-sizing: content-box;
    position: relative;
    outline: none;
    border-right: 1px solid rgba(0, 0, 0, 0.274);
    font-weight: bold;
  }
  
  .table-tabs {
      border-radius: 10px 10px 0px 0px;
      margin: 5px 5px 0 5px;
      padding: 10px;
      text-align: center;
      background: #d9d2e9;
      cursor: pointer;
      box-sizing: content-box;
      position: relative;
      outline: none;
      font-weight: bold;
  }
  .active-tabs  {
    background: #d9d2e9;
    color: black;
    border-bottom: 1px solid transparent;
  }
  .active-table-tabs  {
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.274);
    border-bottom: 1px solid transparent;
  }
  
  .active-tabs-category::before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 2px);
    height: 5px;
    background: rgb(88, 147, 241);
  }
  
  
  
  button {
    border: none;
    
  }
  .content-tabs {
    flex-grow : 1;
  }
  .content {
    background: white;
    padding: 0;
    width: 100%;
    height: 100%;
    display: block;
    margin-top: 10px;
    overflow-x: scroll;
  }
  .empty-category {
    margin: 10px;
    text-align: center;
  }
  .row {
    display: table-row;
    vertical-align: inherit;
    cursor: pointer;
  }